'.source.js.jsx':
  'React ES6 Component':
    'prefix': 'rc'
    'body': """
      import * as React from 'react';

      export default class ${1:MyComponent} extends React.Component {
        render() {
          return (${2:<div>MyComponent</div>});
        }
      }


    """
  'React ES6 Component with Constructor':
    'prefix': 'rcc'
    'body': """
      import * as React from 'react';

      export default class ${1:MyComponent} extends React.Component {
        render() {
          return (${2:<div>MyComponent</div>});
        }
      }

    """
  'React Container with Box':
    'prefix': 'rccb'
    'body': """
      import * as React from 'react';
      import { Box } from '../components/Box';

      export default class ${1:MyComponent} extends React.Component {
        render() {
          return (${2:<Box>MyComponent</Box>});
        }
      }

    """
  'React ES6 Constructor':
    'prefix': 'rconst'
    'body': """
      constructor(props) {
        super(props);
        ${1}
      }

    """
  'React ES6 Functional Component':
    'prefix': 'rfunc'
    'body': """
      import * as React from 'react';

      export default const ${1}(props) => {
        return (
          ${2:<div></div>}
        );
      }

    """

  'Descruct properties':
    'prefix': 'rdp',
    'body': """
      const { ${1} } = this.props;
    """
  'Return ':
    'prefix': 'rret',
    'body': """
      {
        return (${1})
      }
    """
  'Create Box':
    'prefix': 'rb',
    'body': """
      <Box></Box>
    """
